<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732860815667-psfjgpe0edmfmu1b070grtvci7najol3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732860815667-psfjgpe0edmfmu1b070grtvci7najol3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732860815667-020ujov0khnimv75niulosibicmh1a93.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4XU7i2veDmR3B4_eiuLrn9k-fYsvEI7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>732860815667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.withcenter.primary</string>
	<key>PROJECT_ID</key>
	<string>withcenter-school</string>
	<key>STORAGE_BUCKET</key>
	<string>withcenter-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732860815667:ios:b1be9a6c89b4c8d9efc646</string>
	<key>DATABASE_URL</key>
	<string>https://withcenter-school-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>